name: Package Delivery Artifacts

on:
  push:
    tags:
      - "*pre-release*"
  workflow_dispatch: {}

permissions:
  contents: read
  packages: write
  pages: write

env:
  CI: 1
  SITE_DIR: _site

jobs:
  package-delivery:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Setup GitHub Pages
        uses: actions/configure-pages@v3
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          enablement: "true"
      - name: Build Site
        run: |
          python mkdocs build --clean --strict --verbose --site-dir '${{ env.SITE_DIR }}'
      - name: Create Pre-Release
        uses: softprops/action-gh-release@v1
        with:
          files: ${{ env.SITE_DIR }}
          prerelease: true
          generate_release_notes: true
          fail_on_unmatched_files: true
          discussion_category_name: Announcements
